li a{
    color: green;
}

body{
    background: white url("images/background.jpg") no-repeat;
}
.poll-card {
    transition: 0.3s;
}
.poll-card:hover {
    background-color: #e9ecef;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.card {
    border-radius: 10px;
}
